@import "tailwindcss";
body{
    margin:0;
    padding: 0;
    
}
@font-face {
  font-family: 'digital-7';
  src: url('/fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-digital: "digital-7", monospace;
}




